<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="e:\myprojects\~mycommonlibs\zzz-test\wcftransportsecurityandcookie\wcfhttpsecclient\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp, ProcessId, ThreadId">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="65198BD974A03BC4D18C69718AE87A9550ED25EE"
                            storeLocation="LocalMachine" storeName="Root" x509FindType="FindByThumbprint" />
                        <serviceCertificate>
                            <authentication customCertificateValidatorType="WcfTransportSecurityCommon.MyX509CertificateValidator,WcfTransportSecurityCommon"
                                certificateValidationMode="Custom" revocationMode="NoCheck"
                                trustedStoreLocation="LocalMachine" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <diagnostics performanceCounters="Default">
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding" openTimeout="00:01:00" receiveTimeout="01:10:00"
                    sendTimeout="01:01:00" allowCookies="true" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://songmin-9010:60443/MyDataService"
                behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding"
                bindingConfiguration="basicHttpBinding" contract="MyDataServiceReference.IMyDataService"
                name="basicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>