*.cs filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
zzz-test/VimNetVmInfo/VimLib/Service[[:space:]]References/VimServiceReference/Reference.cs filter=lfs diff=lfs merge=lfs -text
