<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp8629CF0F26225FCC046BF1FD111EB65A" Guid="{1E6AB822-508C-4D1D-AF8C-7C79FE366B2F}">
                <File Id="fil4EABCF2AFD4EF860DF435226792508B7" KeyPath="yes" Source="$(var.FilesDir)\SssCustomAction.dll" />
            </Component>
            <Component Id="cmp2F368F2830CC5885F659F74BECD00F95" Guid="{AD027BDC-B817-4B54-B8BD-EBD81420E3A4}">
                <File Id="fil373C17D6BBA3977CF24E99C32E56D897" KeyPath="yes" Source="$(var.FilesDir)\SssCustomAction.exp" />
            </Component>
            <Component Id="cmp8B9073E28B38C91D9AC90AA8F0CA856B" Guid="{8A8001B6-620E-4ACE-80B8-21FDD3958F36}">
                <File Id="fil3357CDA897C7500AE005F4ADCECDE3B0" KeyPath="yes" Source="$(var.FilesDir)\SssCustomAction.ilk" />
            </Component>
            <Component Id="cmp1F13F579668BF2EA6E8A1474E4956F73" Guid="{086CAEC8-EF73-40F9-8232-85838ED320A3}">
                <File Id="fil1ED479A87CF7BA1DCE9AC76AC92326F9" KeyPath="yes" Source="$(var.FilesDir)\SssCustomAction.lib" />
            </Component>
            <Component Id="cmp77D41C95CF184EB494387E2963098088" Guid="{BBA3CBAA-7831-4613-A40F-A4B37118329D}">
                <File Id="fil3773AA1E4DB7443DA98ACB1271B9F8D3" KeyPath="yes" Source="$(var.FilesDir)\SssCustomAction.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmp8629CF0F26225FCC046BF1FD111EB65A" />
            <ComponentRef Id="cmp2F368F2830CC5885F659F74BECD00F95" />
            <ComponentRef Id="cmp8B9073E28B38C91D9AC90AA8F0CA856B" />
            <ComponentRef Id="cmp1F13F579668BF2EA6E8A1474E4956F73" />
            <ComponentRef Id="cmp77D41C95CF184EB494387E2963098088" />
        </ComponentGroup>
    </Fragment>
</Wix>