<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBindingStremed" closeTimeout="01:01:00" openTimeout="01:01:00"
          receiveTimeout="01:10:00" sendTimeout="01:01:00" hostNameComparisonMode="StrongWildcard"
          maxReceivedMessageSize="524288" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxDepth="524288" maxStringContentLength="524288"
            maxArrayLength="524288" maxBytesPerRead="524288" maxNameTableCharCount="524288" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NewBindingNetTcpStreamed" closeTimeout="01:01:00"
          openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00"
          transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="524288">
          <reliableSession ordered="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="_000WcfStreamedLib.ServiceStream">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBindingStremed"
          contract="_000WcfStreamedLib.IServiceStream">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="NewBindingNetTcpStreamed"
          name="NetTcpEndPoint" contract="_000WcfStreamedLib.IServiceStream" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
            <add baseAddress="net.tcp://localhost:8734/" />
          </baseAddresses>
          <timeouts closeTimeout="01:00:10" openTimeout="01:01:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information,
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes,
          set the value below to true.  Set to false before deployment
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
