<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <netTcpBinding>
            <binding name="StreamedNetTcpBinding" closeTimeout="01:01:00"
              openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00"
              transferMode="Streamed" transactionProtocol="WSAtomicTransactionOctober2004"
              maxBufferPoolSize="4194304" maxBufferSize="4194304" maxReceivedMessageSize="70368744177664">
              <readerQuotas maxDepth="0" maxStringContentLength="2097152" maxArrayLength="2097152"
                maxBytesPerRead="2097152" />
              <reliableSession inactivityTimeout="01:10:00" enabled="false" />
              <security mode="None">
                <transport clientCredentialType="None" protectionLevel="None" />
                <message clientCredentialType="None" algorithmSuite="Basic128" />
              </security>
            </binding>
          </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8834/_000WcfStreamService.RPCInvoke.Rpc"
                binding="netTcpBinding" bindingConfiguration="StreamedNetTcpBinding"
                contract="WcfRpcServiceReference.IRpc" name="StreamedNetTcpRpcEndpoint" />
            <endpoint address="net.tcp://localhost:8734/_000WcfStreamService.StreamService"
                binding="netTcpBinding" bindingConfiguration="StreamedNetTcpBinding"
                contract="WcfStreamedServiceReference.IStreamService" name="StreamedNetTcpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>