<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="https://localhost/sdk/vimService" binding="basicHttpBinding" bindingConfiguration="VimBinding" contract="VimServiceReference.VimPortType" name="VimPort"/>
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="VimBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="VimBinding1"/>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
